<h1>Support</h1>

<%= form_with(url: support_url, local: true) do |f| %>
	
	<% if @errors.present? %>
		<div class="errors">
			<% @errors.each do |msg| %>
				<%= msg %> <br>
			<% end %>
		</div>
	<% end %>

	<div>
		<%= f.label :email %> <br>
		<%= f.email_field :email %>
	</div>	
	<div>
		<%= f.label :message %> <br>
		<%= f.text_area :message %>
	</div>
	<%= f.submit "Send"%>
<% end %>